/* fonts n stuff */

/* alike-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/alike-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* akshar-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/akshar-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


 body {
  background-image: url(./images/gray-curve-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-family: 'Akshar';
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alike' 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
  padding-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
}

h1,
.text-size-h1 {
  font-family: 'Alike', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}


.FlexContainer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 10px 20px;
}

.box {
  display: block;
  border-width: 3px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  font-family: 'Akshar';
  font-style: bold;
  font-size: 30px;
  color: darkslategrey;
  text-decoration: none;
}

a:hover {
  color: black;
  transform: scale(1.5em);
}

.reach {
  font-family: 'Akshar';
  color: darkslategrey;
  font-size: 1em;
  text-decoration: none;
}

.guitar {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-top: 20px;
}

.indexh {
  text-align: center;
  padding-top: 300px;
}

.indexp {
  text-align: center;
  padding-bottom: 200px;
}

.helloh {
  text-align: center;
  padding-top: 450px;
}

.hellop {
  text-align: center;
  padding-bottom: 450px;
}

.guitars {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-top: 20px;
}

.contact {
  text-align: center;
}

.footer {
  text-align: center;
}

/*below is for about me page*/

.aboutmetitle {
  padding-bottom: 50px;
}

.aboutme {
  text-align: center;
}

img {
  text-align: center;
}

/*below is for experience page*/

.experienceh {
  text-align: center;
}

.experiencep {
  text-align: center;
}